
<div class="productForm">
    <form class="border border-1 p-4 rounded">
        <div class="mb-3">
            <label for="itemName" class="form-label fw-medium fs-5 text-secondary">Item
                Name</label>
            &nbsp;
            <input type="text" id="itemName" name="itemName" #itemName="ngModel"
                placeholder="Type Name Here"
                class="form-control"
                required 
                [class.is-invalid]="itemName.invalid && itemName.touched && itemName.dirty" [(ngModel)]="productsData.itemName"
                [class.is-valid]="itemName.valid" >
            <span class="invalid-feedback">Please enter appropriate Item
                Name!</span>
        </div>

        <div class="mb-3">
            <label for="description"
                class="form-label fw-medium fs-5 text-secondary">Description</label> &nbsp;
            <textarea type="text" id="description" name="description" #desc="ngModel"
                placeholder="Type Description Here"
                class="form-control"
                rows="3" required 
                [class.is-invalid]="desc.invalid && desc.touched && desc.dirty"
                [class.is-valid]="desc.valid" [(ngModel)]="productsData.description"></textarea>
            <span class="invalid-feedback">Please enter appropriate
                Description!</span>

        </div>

        <div class="mb-3">
            <label for="price" class="form-label fw-medium fs-5 text-secondary">Price</label>
            &nbsp;
            <input type="number" id="price" name="price" min="0" #price="ngModel"
                placeholder="Enter Price"
                class="form-control"
                required 
                [class.is-invalid]="price.invalid && price.dirty && price.touched"
                [class.is-valid]="price.valid" [(ngModel)]="productsData.price"> &nbsp;
            <span class="invalid-feedback">Please enter appropriate
                Price!</span>

        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()"
            (click)="onSubmit()">Add Item</button>
    </form>

    <hr>
</div>
