<h1
    class="heading text-center mt-3 py-3 text-info border border-1 mx-5 rounded fixed-top">Exercise
    2</h1>

<div class="container px-4">
    <div class="row">
        <div class="firstForm col-md-6">
            <p class="fs-5 fw-medium">Using Signals</p>
            <app-products (userFormData)="getFormData($event)" />
        </div>

        <div
            class="col-md-6 d-flex flex-column justify-content-center align-items-center my-md-0 my-5">
            @if(receivedProductData().length === 0) {
            <p class="text-center text-secondary fw-medium fs-5">Please provide
                Data and Press "Submit"</p>
            } @else {
            <p class="text-secondary fw-medium fs-3">Product Details</p>
            <table class="table-bordered">
                <thead>
                    <tr class="text-secondary">
                        <th class="p-3 text-center">Item Name</th>
                        <th class="p-3 text-center">Description</th>
                        <th class="p-3 text-center">Price</th>
                    </tr>
                </thead>
                <tbody class="center">
                    @for (data of receivedProductData(); track $index) {
                    <tr class="text-secondary fw-semibold"
                        [class.expensive]="data.price !== null && data.price >= 1000">
                        <td class="p-3 text-end"><span class="overflow-ellipsis">{{ data.itemName }}</span></td>
                        <td class="p-3 text-end"><span class="overflow-ellipsis">{{ data.description }}</span></td>
                        <td class="p-3 text-end"><span class="overflow-ellipsis">{{ data.price }}</span></td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>


<div class="container px-4">
    <div class="row">
        <div class="col-md-6">
            <p class="fs-5 fw-medium">Without Signals</p>
            <app-other-products (productFormData)="getProductData($event)" />
        </div>

        <div
            class="col-md-6 d-flex flex-column justify-content-center align-items-center my-md-0 my-5">
            @if(receivedOtherProductData.length === 0) {
            <p class="text-center text-secondary fw-medium fs-5">Please provide
                Data and Press "Submit"</p>
            } @else {
            <p class="text-secondary fw-medium fs-3">Product Details</p>
            <table class="table-bordered">
                <thead>
                    <tr class="text-secondary">
                        <th class="p-3 text-center">Item Name</th>
                        <th class="p-3 text-center">Description</th>
                        <th class="p-3 text-center">Price</th>
                    </tr>
                </thead>
                <tbody class="center">
                    @for (productData of receivedOtherProductData; track $index) {
                    <tr class="text-secondary fw-semibold"
                        [class.expensive]="productData.price !== null && productData.price >= 1000">
                        <td class="p-3 text-end"><span class="overflow-ellipsis">{{ productData.itemName }}</span></td>
                        <td class="p-3 text-end"><span class="overflow-ellipsis">{{ productData.description }}</span></td>
                        <td class="p-3 text-end"><span class="overflow-ellipsis">{{ productData.price }}</span></td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>